@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'atkinson-regular';
    src: url('@/assets/fonts/atkinson-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'atkinson-bold';
    src: url('@/assets/fonts/atkinson-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
}
